.onest-300 {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.onest-400 {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.onest-500 {
	font-family: "Onest", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.onest-700 {
	font-family: "Onest", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
